In [3]:
import os
os.getcwd()

'C:\\Users\\T420\\Desktop\\UBIQUM\\5 PROJECT\\Quiniela\\notebooks'

In [4]:
import pandas as pd 
 
df = pd.read_csv("../bbdd/spain_leagues.csv") 
df.head()

               name  league_id  season season_start  season_end
0  Primera Division         30    2017   2017-08-18  2018-05-20
1  Segunda Division         33    2017   2017-08-18  2018-06-16
2  Primera Division         64    2016   2016-08-19  2017-05-21
3  Segunda Division         65    2016   2016-08-19  2017-06-24
4  Primera Division         87    2018   2018-08-17  2019-05-19

In [12]:
league_id = df['league_id'][(df['name'] == 'Primera Division') | (df['name'] == 'Segunda Division')]

In [13]:
for i in league_id:
    print()

0      30
1      33
2      64
3      65
4      87
5      88
9     730
10    731
11    732
12    733
13    734
14    735
15    775
16    776
Name: league_id, dtype: int64

In [20]:
import requests

headers = {'x-rapidapi-key': "28d61524ab5698a1f8edb9e9ed577221"}
teams = []
referee = []

for i in league_id:
    url = "https://server1.api-football.com/fixtures/league/"+str(i)
    response = requests.request("GET", url, headers=headers)
    spain_leagues = response.json()
    
    for k in spain_leagues['api']['fixtures']:
        teams.append(k['homeTeam']['team_name'])
        teams.append(k['awayTeam']['team_name'])
        referee.append(k['referee'])

In [24]:
teams_list = list(set(teams))
referee_list = list(set(referee))

In [32]:
import pandas as pd

df = pd.DataFrame(teams_list, columns=["teams"])
df.to_excel('../bbdd/teams_list.xlsx', index=False)

df = pd.DataFrame(referee_list, columns=["referees"])
df.to_excel('../bbdd/referees_list.xlsx', index=False, )