In [1]:
import os
os.getcwd()

'C:\\Users\\Albert\\Desktop\\DATA SCIENCE\\UBIQUM\\UBIQUM_1X2_Python\\notebooks'

In [2]:
# read original database. json files / ditionaries will be used to change team names and referees so that
# historical names and api information are the same

import pandas as pd

xl = pd.ExcelFile('../bbdd/FULL_BBDD_ORIGINAL.xls')
df = xl.parse(xl.sheet_names[0])
print(df.head())
df.shape

   TEMPORADA  LIGA  JORNADA      FECHA            LOCAL         VISITANTE  \
0       1999     1        1 1999-08-21  R.C.D. Mallorca  Real Madrid C.F.
1       1999     1        1 1999-08-21    Athletic Club  Real Betis B. S.
2       1999     2        1 1999-08-21     C.D. Leganés       Mérida C.P.
3       1999     1        1 1999-08-21    Valencia C.F.  Real Racing Club
4       1999     2        1 1999-08-21      U.E. Lleida   Villarreal C.F.

   GOL L  GOL V          ARBITRO
0      1      2    LOSANTOS OMAR
1      1      0  MEJUTO GONZALEZ
2      1      1       NAVAS LASA
3      1      2    PRADOS GARCIA
4      2      2    RUBIO INIESTA

(16840, 9)

In [3]:
import json

with open('../bbdd/teams_dict.json') as json_file:
    teams_dict = json.load(json_file)
    
with open('../bbdd/referees_dict.json') as json_file:
    referees_dict = json.load(json_file)

In [4]:
df.columns

Index(['TEMPORADA', 'LIGA', 'JORNADA', 'FECHA', 'LOCAL', 'VISITANTE', 'GOL L',
       'GOL V', 'ARBITRO'],
      dtype='object')

In [5]:
df_correct = df.copy()
df_correct['LOCAL'] = [teams_dict[i] for i in df['LOCAL']]
df_correct['VISITANTE'] = [teams_dict[i] for i in df['VISITANTE']]
df_correct['ARBITRO'] = [referees_dict[i] for i in df['ARBITRO']]

In [6]:
df_correct.head()

,TEMPORADA,LIGA,JORNADA,FECHA,LOCAL,VISITANTE,GOL L,GOL V,ARBITRO
0,1999,1,1,1999-08-21,Mallorca,Real Madrid,1,2,LOSANTOS OMAR
1,1999,1,1,1999-08-21,Athletic Club,Real Betis,1,0,MEJUTO GONZALEZ
2,1999,2,1,1999-08-21,Leganes,Mérida C.P.,1,1,NAVAS LASA
3,1999,1,1,1999-08-21,Valencia,Racing Santander,1,2,PRADOS GARCIA
4,1999,2,1,1999-08-21,U.E. Lleida,Villarreal,2,2,RUBIO INIESTA

In [11]:
import numpy as np

df_correct['DIFF'] = df_correct['GOL L'] - df_correct['GOL V']
df_correct['QUINIELA'] = pd.cut(df_correct['DIFF'], bins=[-np.inf, -1, 0, np.inf], labels=['2', 'X', '1'])
df_correct = df_correct.drop(['DIFF'], axis=1)
df_correct.head()

,TEMPORADA,LIGA,JORNADA,FECHA,LOCAL,VISITANTE,GOL L,GOL V,ARBITRO,QUINIELA
0,1999,1,1,1999-08-21,Mallorca,Real Madrid,1,2,LOSANTOS OMAR,2
1,1999,1,1,1999-08-21,Athletic Club,Real Betis,1,0,MEJUTO GONZALEZ,1
2,1999,2,1,1999-08-21,Leganes,Mérida C.P.,1,1,NAVAS LASA,X
3,1999,1,1,1999-08-21,Valencia,Racing Santander,1,2,PRADOS GARCIA,2
4,1999,2,1,1999-08-21,U.E. Lleida,Villarreal,2,2,RUBIO INIESTA,X

In [12]:
df_correct.shape

(16840, 10)

In [13]:
df_correct.to_excel("../bbdd/FULL_BBDD_CLEAN.xlsx", index=False)