### Open and check file

In [108]:
import os
os.getcwd()

'C:\\Users\\T420\\Desktop\\UBIQUM\\5 PROJECT\\Quiniela\\notebooks'

In [192]:
import pandas as pd

xl = pd.ExcelFile('../bbdd/FULL_BBDD_CLEAN.xlsx')
df = xl.parse(xl.sheet_names[0])
df.tail()

,TEMPORADA,LIGA,JORNADA,FECHA,LOCAL,VISITANTE,GOL L,GOL V,ARBITRO,QUINIELA
16835,2018,2,42,2019-06-08,Sporting Gijon,Cadiz,1,0,"Daniel Ocon Arraiz, Spain",1
16836,2018,2,42,2019-06-08,Malaga,Elche,3,0,"Ruben Avalos Barrera, Spain",1
16837,2018,2,42,2019-06-09,Tenerife,Zaragoza,1,0,"Abraham Dominguez Cervantes, Spain",1
16838,2018,2,42,2019-06-09,Club Gimnàstic,Lugo,1,1,"Jose Antonio Lopez Toca, Spain",X
16839,2018,2,42,2019-06-09,Numancia,Las Palmas,1,1,"Alvaro Moreno Aragon,",X

In [132]:
df.apply(lambda x: x[1]+x[2], axis=1)

0         2
1         2
2         3
3         2
4         3
         ..
16835    44
16836    44
16837    44
16838    44
16839    44
Length: 16840, dtype: int64

In [110]:
df.shape

(16840, 10)

### Additional Features for all the games
Funciones

In [123]:
# last n games of home or away team

def last_games(league, team, date, season, ngames):
    select = df[(df['LIGA']==league) & ((df['LOCAL']==team) | (df['VISITANTE']==team)) & 
            (df['FECHA'] < date) & (df['TEMPORADA']==season)][:ngames]
    games = select.shape[0] + 1/2
    WINS = (sum(select['QUINIELA'][select.LOCAL==team]=='1') + sum(select['QUINIELA'][select.VISITANTE==team]=='2') + 1/6)/games
    DRAW = (sum(select['QUINIELA']=='X') + 1/6)/games
    LOSE = (1 - WINS - DRAW)
    return(WINS, DRAW, LOSE)

In [124]:
# total league. local as a local

def league_local_local(league, home_team, date, season):
    select = df[(df['LIGA']==league) & ((df['LOCAL']==home_team)) & 
            (df['FECHA'] < date) & (df['TEMPORADA']==season)]
    games = select.shape[0] + 1/2
    H_WINS = (sum(select['QUINIELA'][select.LOCAL==home_team]=='1') + 1/6)/games
    H_DRAW = (sum(select['QUINIELA']=='X') + 1/6)/games
    H_LOSE = (1 - H_WINS - H_DRAW)
    return(H_WINS, H_DRAW, H_LOSE)

In [125]:
# total league. visitor as a visitor

def league_visitor_visitor(league, away_team, date, season):
    select = df[(df['LIGA']==league) & ((df['VISITANTE']==away_team)) & 
            (df['FECHA'] < date) & (df['TEMPORADA']==season)]
    games = select.shape[0] + 1/2
    V_WINS = (sum(select['QUINIELA'][select.VISITANTE==away_team]=='2') + 1/6)/games
    V_DRAW = (sum(select['QUINIELA']=='X') + 1/6)/games
    V_LOSE = (1 - V_WINS - V_DRAW)
    return(V_WINS, V_DRAW, V_LOSE)

In [126]:
# h2h last 10 games total

def h2h_10_hda(date, home_team, away_team):
    select = df[(df['FECHA'] < date) & (((df['LOCAL']==home_team) & (df['VISITANTE']==away_team)) |  
            ((df['LOCAL']==away_team) & (df['VISITANTE']==home_team)))][:10]
    games = select.shape[0] + 1/2
    HOME = (sum(select['QUINIELA'][select.LOCAL==home_team]=='1') + 
            sum(select['QUINIELA'][select.VISITANTE==home_team]=='2') + 1/6)/games
    DRAW = (sum(select['QUINIELA']=='X') + 1/6)/games
    AWAY = (1 - HOME - DRAW)
    return(HOME, DRAW, AWAY)

In [127]:
# h2h last 5 games with same home and away

def h2h_5_homeaway(date, home_team, away_team):
    select = df[(df['FECHA'] < date) & (df['LOCAL']==home_team) & (df['VISITANTE']==away_team)][:5]
    games = select.shape[0] + 1/2
    HOME = (sum(select['QUINIELA'][select.LOCAL==home_team]=='1') + 1/6)/games
    DRAW = (sum(select['QUINIELA'][select.LOCAL==home_team]=='X') + 1/6)/games
    AWAY = (1 - HOME - DRAW)
    return(HOME, DRAW, AWAY)

In [128]:
# referee: historical results

def ref_team(date, team, referee):
    select = df[(df['FECHA'] < date) & ((df['LOCAL']==team) | (df['VISITANTE']==team)) & (df['ARBITRO']==referee)]
    games = select.shape[0] + 1/2
    WINS = (sum(select['QUINIELA'][select.LOCAL==team]=='1') + 
            sum(select['QUINIELA'][select.VISITANTE==team]=='2') + 1/6)/games
    DRAW = (sum(select['QUINIELA']=='X') + 1/6)/games
    LOSE = (1 - WINS - DRAW)
    return(WINS, DRAW, LOSE)

In [129]:
# referee: historical results with home team at home

def ref_home_home(date, home_team, referee):
    select = df[(df['FECHA'] < date) & (df['LOCAL']==home_team) & (df['ARBITRO']==referee)]
    games = select.shape[0] + 1/2
    WINS = (sum(select['QUINIELA'][select.LOCAL==home_team]=='1') + 
            sum(select['QUINIELA'][select.VISITANTE==home_team]=='2') + 1/6)/games
    DRAW = (sum(select['QUINIELA']=='X') + 1/6)/games
    LOSE = (1 - WINS - DRAW)
    return(WINS, DRAW, LOSE)

In [130]:
# referee: historical results with away team playing away

def ref_away_away(date, away_team, referee): 
    select = df[(df['FECHA'] < date) & (df['VISITANTE']==away_team) & (df['ARBITRO']==referee)]
    games = select.shape[0] + 1/2
    WINS = (sum(select['QUINIELA'][select.LOCAL==away_team]=='1') + 
            sum(select['QUINIELA'][select.VISITANTE==away_team]=='2') + 1/6)/games
    DRAW = (sum(select['QUINIELA']=='X') + 1/6)/games
    LOSE = (1 - WINS - DRAW)
    return(WINS, DRAW, LOSE)

Apply function to create all the features from functions

In [131]:
df['last2_hometeam_wdl'] = df.apply(lambda x: last_games(x[1], x[4], x[3], x[0], 2), axis=1)
df['last5_hometeam_wdl'] = df.apply(lambda x: last_games(x[1], x[4], x[3], x[0], 5), axis=1)
df['last10_hometeam_wdl'] = df.apply(lambda x: last_games(x[1], x[4], x[3], x[0], 10), axis=1)

In [137]:
df['last2_awayteam_wdl'] = df.apply(lambda x: last_games(x[1], x[5], x[3], x[0], 2), axis=1)
df['last5_awayteam_wdl'] = df.apply(lambda x: last_games(x[1], x[5], x[3], x[0], 5), axis=1)
df['last10_awayteam_wdl'] = df.apply(lambda x: last_games(x[1], x[5], x[3], x[0], 10), axis=1)

In [138]:
df['league_local_local_wdl'] = df.apply(lambda x: league_local_local(x[1], x[4], x[3], x[0]), axis=1)
df['league_visitor_visitor_wdl'] = df.apply(lambda x: league_visitor_visitor(x[1], x[5], x[3], x[0]), axis=1)

In [139]:
df['h2h_last_10_hda'] = df.apply(lambda x: h2h_10_hda(x[3], x[4], x[5]), axis=1)
df['h2h_5_homeaway_hda'] = df.apply(lambda x: h2h_5_homeaway(x[3], x[4], x[5]), axis=1)

In [140]:
df['ref_hometeam_wdl'] = df.apply(lambda x: ref_team(x[3], x[4], x[8]), axis=1)
df['ref_awayteam_wdl'] = df.apply(lambda x: ref_team(x[3], x[5], x[8]), axis=1)

In [142]:
df['ref_home_home_wdl'] = df.apply(lambda x: ref_home_home(x[3], x[4], x[8]), axis=1)
df['ref_away_away_wdl'] = df.apply(lambda x: ref_away_away(x[3], x[5], x[8]), axis=1)

### Split tuples for into column and delete tuples

In [185]:
columns = list(df.columns[[x[-3:] in ['wdl','hda'] for x in df.columns]])

In [186]:
for i in columns:
    field_type = i[-3:]
    name1 = i[:-3] + field_type[0]
    name2 = i[:-3] + field_type[1]
    name3 = i[:-3] + field_type[2]
    
    df[name1] = df[i].apply(lambda x: x[0])
    df[name2] = df[i].apply(lambda x: x[1])
    df[name3] = df[i].apply(lambda x: x[2])

In [187]:
df.drop(columns, inplace=True, axis=1)

In [188]:
df.columns

Index(['TEMPORADA', 'LIGA', 'JORNADA', 'FECHA', 'LOCAL', 'VISITANTE', 'GOL L',
       'GOL V', 'ARBITRO', 'QUINIELA', 'last2_hometeam_w', 'last2_hometeam_d',
       'last2_hometeam_l', 'last5_hometeam_w', 'last5_hometeam_d',
       'last5_hometeam_l', 'last10_hometeam_w', 'last10_hometeam_d',
       'last10_hometeam_l', 'last2_awayteam_w', 'last2_awayteam_d',
       'last2_awayteam_l', 'last5_awayteam_w', 'last5_awayteam_d',
       'last5_awayteam_l', 'last10_awayteam_w', 'last10_awayteam_d',
       'last10_awayteam_l', 'league_local_local_w', 'league_local_local_d',
       'league_local_local_l', 'league_visitor_visitor_w',
       'league_visitor_visitor_d', 'league_visitor_visitor_l', 'h2h_last_10_h',
       'h2h_last_10_d', 'h2h_last_10_a', 'h2h_5_homeaway_h',
       'h2h_5_homeaway_d', 'h2h_5_homeaway_a', 'ref_hometeam_w',
       'ref_hometeam_d', 'ref_hometeam_l', 'ref_awayteam_w', 'ref_awayteam_d',
       'ref_awayteam_l', 'ref_home_home_w', 'ref_home_home_d',
       'ref_home_home_l', 'ref_away_away_w', 'ref_away_away_d',
       'ref_away_away_l'],
      dtype='object')

In [190]:
df.shape

(16840, 52)

In [191]:
df.to_excel("../bbdd/FULL_BBDD_with_features.xlsx", index=False)

In [194]:
df[['TEMPORADA', 'LIGA', 'JORNADA', 'FECHA', 'LOCAL', 'VISITANTE', 'GOL L', 'GOL V', 'ARBITRO', 'QUINIELA']].to_excel(
    "../bbdd/FULL_BBDD_only_results.xlsx", index=False)