In [1]:
import os
os.getcwd()

In [2]:
import pandas as pd
import numpy as np
from itertools import product
from random import choices

xl = pd.ExcelFile('../bbdd/QUINIELA_3_PROBS.xlsx')
df = xl.parse(xl.sheet_names[0])[:14]

Function to set the maximum streak a result (1, X or 2) can have

In [3]:
def max_streak(res):
    probs = []
    for streak in range(14):
        max = 0
        for start in range(14-streak):
            value = 1
            for i in range(start, start+streak+1):
                value = value * df[res][i]
            if value > max:
                max = value
        probs.append(max)
    return(probs)

Function to set the minimum and maximum of 1, X or 2 in each Quiniela

In [4]:
def min_max(result, threshold=0.2):
    dictionary_p = {'p'+str(i+1): [df[result][i], 1-df[result][i]] for i in range(14)}
    df_probs = pd.DataFrame([row for row in product(*dictionary_p.values())], columns=dictionary_p.keys())
    probs = df_probs.apply(lambda x: np.prod(x), axis=1)
    
    dictionary_c = {'p'+str(i+1): [1, 0] for i in range(14)}
    df_cases = pd.DataFrame([row for row in product(*dictionary_c.values())], columns=dictionary_c.keys())
    cases = df_cases.apply(lambda x: sum(x), axis=1)
    
    df_cp = pd.DataFrame(zip(cases, probs), columns=(['case','prob']))
    arr_probs = []
    for i in range(14):
        arr_probs.append(sum(df_cp[df_cp['case']==i]['prob']))
    df_cp = pd.DataFrame(zip(range(1,15), arr_probs), columns=(['case','prob']))
    df_cp['prob'] = df_cp['prob']
    df_cp = df_cp.sort_values(by=['prob'], ascending=True)
    df_cp['cumsum'] = np.cumsum(df_cp['prob'])
    return(min(df_cp[df_cp['cumsum']> threshold]['case']), max(df_cp[df_cp['cumsum']> threshold]['case']))

Calculate maximums, minimums and streaks

In [5]:
min_1, max_1 = min_max('1')
min_x, max_x = min_max('X')
min_2, max_2 = min_max('2')
streak1 = sum(np.array(max_streak('1')) > 0.1)
streakx = sum(np.array(max_streak('X')) > 0.1)
streak2 = sum(np.array(max_streak('2')) > 0.1)

In [6]:
bets = 50
df['n1'] = round(bets*df['1'])+1
df['nx'] = round(bets*df['X'])+1
df['n2'] = round(bets*df['2'])+1

In [7]:
df

,LOCAL,VISITANTE,1,X,2,n1,nx,n2
0,Mallorca,Sevilla,0.518067,0.156077,0.325856,27.0,9.0,17.0
1,Villarreal,Getafe,0.365782,0.437464,0.196754,19.0,23.0,11.0
2,Valladolid,Valencia,0.280155,0.368246,0.351599,15.0,19.0,19.0
3,Leganes,Espanyol,0.458897,0.230997,0.310107,24.0,13.0,17.0
4,Osasuna,Real Sociedad,0.448238,0.217007,0.334755,23.0,12.0,18.0
5,Real Betis,Atletico Madrid,0.245419,0.407390,0.347191,13.0,21.0,18.0
6,Levante,Celta Vigo,0.419684,0.154501,0.425815,22.0,9.0,22.0
7,Real Madrid,Athletic Club,0.865348,0.077682,0.056969,44.0,5.0,4.0
8,Las Palmas,Rayo Vallecano,0.662361,0.160798,0.176841,34.0,9.0,10.0
9,Cadiz,Numancia,0.405673,0.478919,0.115408,21.0,25.0,7.0
10,Almeria,Ponferradina,0.603426,0.323354,0.073220,31.0,17.0,5.0
11,Huesca,Zaragoza,0.620168,0.138331,0.241501,32.0,8.0,13.0
12,Alcorcon,Fuenlabrada,0.626324,0.161953,0.211723,32.0,9.0,12.0
13,Girona,Mirandes,0.437689,0.242724,0.319588,23.0,13.0,17.0

Function to check how long is a streak in a serie

In [42]:
from itertools import groupby
def eval_streak(serie, res):
    out = [sum(1 for j in group) for j, group in groupby(serie) if j==res]
    if len(out) < 1:
        return(0)
    else:
        return(max(out))

In [43]:
q = pd.DataFrame(np.nan, index=range(14), columns=range(bets))

In [48]:
opcs=0
for quiniela in range(bets):
    correct = False
    while correct == False:
        opcs += 1
        serie = []
        for i in range(14):
            correct = True
            rest1 = df['n1'][i] - sum(q.iloc[i]=='1')
            restx = df['nx'][i] - sum(q.iloc[i]=='X')
            rest2 = df['n2'][i] - sum(q.iloc[i]=='2')
            p1 = rest1 / (rest1 + rest2 + restx)
            p2 = rest2 / (rest1 + rest2 + restx)
            px = restx / (rest1 + rest2 + restx)
            serie.append(choices(['1','X','2'], [p1, px, p2])[0])
            n1 = serie.count('1')
            n2 = serie.count('2')
            nx = serie.count('X')
        correct = False if ((n1 > max_1) | (n1 < min_1) | (n2 > max_2) | (n2 < min_2) | (nx > max_x) | (nx < min_x) | 
                            (eval_streak(serie, '1') > streak1) | (eval_streak(serie, '2') > streak2) | 
                            (eval_streak(serie, 'X') > streakx)) else True
    q[quiniela] = serie

In [49]:
print(opcs)
print(q)

175
   0  1  2  3  4  5  6  7  8  9   ... 40 41 42 43 44 45 46 47 48 49
0   1  2  2  X  1  1  1  2  1  1  ...  1  1  X  1  X  X  X  1  1  1
1   2  X  X  2  X  X  2  1  X  X  ...  1  X  X  X  1  X  2  1  1  X
2   2  2  X  1  X  2  X  X  1  2  ...  X  2  1  2  1  2  1  2  1  1
3   1  1  1  2  1  1  1  2  2  2  ...  X  1  X  1  2  1  2  X  1  2
4   2  1  2  1  2  1  2  2  2  X  ...  1  X  1  1  1  X  1  2  2  X
5   X  2  X  1  X  X  X  1  X  2  ...  2  X  1  2  2  1  X  X  X  1
6   X  X  X  2  2  2  1  1  1  1  ...  2  1  2  2  2  X  2  1  X  1
7   1  1  1  1  1  X  1  1  2  1  ...  1  X  1  1  1  1  X  2  2  1
8   2  1  2  1  2  1  1  1  X  1  ...  2  1  X  1  1  1  X  1  2  2
9   X  1  1  X  X  1  X  X  1  1  ...  1  X  X  X  X  2  1  1  1  X
10  X  2  1  X  1  2  1  X  1  X  ...  X  1  1  X  X  1  1  1  1  X
11  1  X  X  1  2  1  1  2  1  1  ...  1  2  2  1  1  2  2  X  1  2
12  1  1  1  1  1  X  2  1  X  1  ...  1  2  2  2  1  1  1  1  1  1
13  1  2  1  2  1  X  1  1  X  2  ...  1  1  1  2  1  2  1  2  X  X

[14 rows x 50 columns]