### Connect to MongoDB

In [12]:
import pymongo

client = pymongo.MongoClient(
    "mongodb+srv://Albert:madannnn@cluster0-wghee.mongodb.net/test?retryWrites=true&w=majority")
db = client.test

In [13]:
try:
    print("MongoDB version is %s" %
            client.server_info()['version'])
except pymongo.errors.OperationFailure as error:
    print(error)
    quit(1)

MongoDB version is 4.0.13

In [17]:
#accedo o creo bbdd llamada gettingStarted y le asigno nombre 'db'
db = client.gettingStarted

In [18]:
#accedo o creo tabla llamada people dentro de db y le pongo nombre 'people'
people = db.people

In [19]:
#creo 1 documento y lo inserto en people
import datetime
personDocument = {
  "name": { "first": "Alan", "last": "Turing" },
  "birth": datetime.datetime(1912, 6, 23),
  "death": datetime.datetime(1954, 6, 7),
  "contribs": [ "Turing machine", "Turing test", "Turingery" ],
  "views": 1250000
}
people.insert_one(personDocument)

### Date Conversions Tests

In [66]:
from datetime import datetime
timestamp = 1545730073
timestamp = 1576972800
dateobject = datetime.fromtimestamp(timestamp)
dateobject.date()

datetime.date(2019, 12, 22)

In [88]:
from datetime import datetime
# current date and time
now = datetime.now()
timestamp = datetime.timestamp(now)
print("timestamp =", timestamp)

timestamp = 1577998644.966694

### Insert Excel files to MongoDB

In [1]:
import pandas as pd
import numpy as np
import json
from datetime import datetime

In [6]:
xl = pd.ExcelFile('../bbdd/FULL_BBDD_with_features.xlsx')
df = xl.parse(xl.sheet_names[0])

In [7]:
df.tail(3)

,TEMPORADA,LIGA,JORNADA,FECHA,LOCAL,VISITANTE,GOL L,GOL V,ARBITRO,QUINIELA,...,ref_hometeam_l,ref_awayteam_w,ref_awayteam_d,ref_awayteam_l,ref_home_home_w,ref_home_home_d,ref_home_home_l,ref_away_away_w,ref_away_away_d,ref_away_away_l
17304,2019,2,21,2019-12-22,Huesca,Zaragoza,2,1,"Isidro Diaz de Mera Escuderos, Spain",1,...,0.030303,0.333333,0.641026,0.025641,0.619048,0.333333,0.047619,0.066667,0.866667,0.066667
17305,2019,2,21,2019-12-22,Alcorcon,Fuenlabrada,1,1,"Victor Areces Franco, Spain",X,...,0.234568,0.777778,0.111111,0.111111,0.333333,0.641026,0.025641,0.777778,0.111111,0.111111
17306,2019,2,21,2019-12-22,Girona,Mirandes,0,3,"Jon Ander Gonzalez Esteban, Spain",2,...,0.111111,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333

In [4]:
records = json.loads(df.T.to_json()).values()

In [114]:
db = client.quiniela

In [115]:
withfeatures = db.withfeatures

In [116]:
withfeatures.insert_many(records)

In [117]:
mongo = list(db.withfeatures.find({}))

In [118]:
df_mongo = pd.DataFrame.from_dict(mongo, orient='columns')
df_mongo.drop(columns=['_id'], inplace=True)
df_mongo.FECHA = df_mongo.FECHA.apply(lambda x: datetime.fromtimestamp(x/1000).date())

In [120]:
df_mongo.head()

,TEMPORADA,LIGA,JORNADA,FECHA,LOCAL,VISITANTE,GOL L,GOL V,ARBITRO,QUINIELA,...,ref_hometeam_l,ref_awayteam_w,ref_awayteam_d,ref_awayteam_l,ref_home_home_w,ref_home_home_d,ref_home_home_l,ref_away_away_w,ref_away_away_d,ref_away_away_l
0,1999,1,1,1999-08-21,Mallorca,Real Madrid,1,2,LOSANTOS OMAR,2,...,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333
1,1999,1,1,1999-08-21,Athletic Club,Real Betis,1,0,MEJUTO GONZALEZ,1,...,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333
2,1999,2,1,1999-08-21,Leganes,MÃ©rida C.P.,1,1,NAVAS LASA,X,...,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333
3,1999,1,1,1999-08-21,Valencia,Racing Santander,1,2,PRADOS GARCIA,2,...,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333
4,1999,2,1,1999-08-21,U.E. Lleida,Villarreal,2,2,RUBIO INIESTA,X,...,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333