### Connect to MongoDB

In [12]:
import pymongo

client = pymongo.MongoClient(
    "mongodb+srv://Albert:madannnn@cluster0-wghee.mongodb.net/test?retryWrites=true&w=majority")
db = client.test

In [13]:
try:
    print("MongoDB version is %s" %
            client.server_info()['version'])
except pymongo.errors.OperationFailure as error:
    print(error)
    quit(1)

MongoDB version is 4.0.13

In [17]:
#accedo o creo bbdd llamada gettingStarted y le asigno nombre 'db'
db = client.gettingStarted

In [18]:
#accedo o creo tabla llamada people dentro de db y le pongo nombre 'people'
people = db.people

In [19]:
#creo 1 documento y lo inserto en people
import datetime
personDocument = {
  "name": { "first": "Alan", "last": "Turing" },
  "birth": datetime.datetime(1912, 6, 23),
  "death": datetime.datetime(1954, 6, 7),
  "contribs": [ "Turing machine", "Turing test", "Turingery" ],
  "views": 1250000
}
people.insert_one(personDocument)

### Date Conversions Tests

In [66]:
from datetime import datetime
timestamp = 1545730073
timestamp = 1576972800
dateobject = datetime.fromtimestamp(timestamp)
dateobject.date()

datetime.date(2019, 12, 22)

In [88]:
from datetime import datetime
# current date and time
now = datetime.now()
timestamp = datetime.timestamp(now)
print("timestamp =", timestamp)

timestamp = 1577998644.966694

### Insert Excel files to MongoDB

In [204]:
import pandas as pd
import numpy as np
import json
from datetime import datetime

In [242]:
xl = pd.ExcelFile('../bbdd/FULL_BBDD_only_results.xlsx')
df = xl.parse(xl.sheet_names[0])

In [243]:
df.tail(3)

,TEMPORADA,LIGA,JORNADA,FECHA,LOCAL,VISITANTE,GOL L,GOL V,ARBITRO,QUINIELA
17267,2019,2,22,2020-01-05,Numancia,Deportivo La Coruna,0,1,"Gorka Sagues Oscoz, Spain",2
17268,2019,2,22,2020-01-05,Rayo Vallecano,Girona,1,0,"Luis Mario Milla Alvendiz, Spain",1
17269,2019,2,22,2020-01-05,Oviedo,Malaga,1,1,"Miguel Angel Ortiz Arias, Spain",X

In [244]:
records = json.loads(df.T.to_json()).values()

In [245]:
db = client.quiniela
db.onlyresults.drop()

In [246]:
onlyresults = db.onlyresults

In [247]:
onlyresults.insert_many(records)

In [172]:
mongo = list(db.withfeatures.find({}))
df_mongo = pd.DataFrame.from_dict(mongo, orient='columns')
df_mongo.drop(columns=['_id'], inplace=True)
df_mongo.FECHA = df_mongo.FECHA.apply(lambda x: datetime.fromtimestamp(x/1000).date())

In [173]:
df_mongo.head()

,TEMPORADA,LIGA,JORNADA,FECHA,LOCAL,VISITANTE,GOL L,GOL V,ARBITRO,QUINIELA,...,ref_hometeam_l,ref_awayteam_w,ref_awayteam_d,ref_awayteam_l,ref_home_home_w,ref_home_home_d,ref_home_home_l,ref_away_away_w,ref_away_away_d,ref_away_away_l
0,1999,1,1,1999-08-21,Athletic Club,Real Betis,1,0,MEJUTO GONZALEZ,1,...,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333
1,1999,1,1,1999-08-21,Mallorca,Real Madrid,1,2,LOSANTOS OMAR,2,...,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333
2,1999,1,1,1999-08-21,Valencia,Racing Santander,1,2,PRADOS GARCIA,2,...,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333
3,1999,2,1,1999-08-21,Las Palmas,Tenerife,2,0,"TEIXEIRA VITIENES, F.",1,...,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333
4,1999,2,1,1999-08-21,Leganes,Mérida C.P.,1,1,NAVAS LASA,X,...,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333,0.333333

### Insert DICT to MongoDB

In [189]:
import pymongo
import pandas as pd
import numpy as np
import json

client = pymongo.MongoClient(
    "mongodb+srv://Albert:madannnn@cluster0-wghee.mongodb.net/test?retryWrites=true&w=majority")
db = client.test

In [198]:
with open('../bbdd/teams_dict.json') as json_file:
    teams_dict = json.load(json_file)

In [199]:
tmp = pd.DataFrame.from_dict(teams_dict, 'index').reset_index()
tmp.columns = ['ORIGINAL','FINAL']
teams_mongo = json.loads(tmp.T.to_json()).values()

In [197]:
#nm = 'Prueba'
#inserta = {'ORIGINAL': nm, 'FINAL': nm}
#db = client.quiniela
#db.teamsdict.drop()
#teamsdict = db.teamsdict
#teamsdict.insert_one(inserta)

In [200]:
db = client.quiniela
db.teamsdict.drop()

In [201]:
teamsdict = db.teamsdict
teamsdict.insert_many(teams_mongo)

Preparo para abrir la BD

In [202]:
mongo = list(db.teamsdict.find({}))

In [203]:
df_mongo = pd.DataFrame.from_dict(mongo, orient='columns')
df_mongo.drop(columns=['_id'], inplace=True)
teams_dict = df_mongo.set_index('ORIGINAL')['FINAL'].to_dict()