### SCRAP NEXT AVAILABLE QUINIELA (LOTERIAS Y APUESTAS)

In [8]:
import requests
URL = 'https://juegos.loteriasyapuestas.es/jugar/la-quiniela/apuesta/'
page = requests.get(URL)

In [9]:
from bs4 import BeautifulSoup
soup = BeautifulSoup(page.content, 'html.parser')

In [10]:
results = soup.find(class_='boleto-partidos')
equipos = results.find_all('', class_='nombre', )

In [11]:
type(results)

bs4.element.Tag

In [12]:
quiniela = [equipo.text for equipo in equipos]

In [13]:
visitor = [equipo for i, equipo in enumerate(quiniela) if i % 2 == 1]
local = [equipo for i, equipo in enumerate(quiniela) if i % 2 == 0]
print(local, visitor)

['Levante', 'Real Madrid', 'Osasuna', 'Eibar', 'Mallorca', 'Betis', 'Villarreal', 'Athletic Club', 'Elche', 'Deportivo', 'R. Oviedo', 'Racing', 'Extremadura', 'Tenerife'] ['Alavés', 'Sevilla', 'Valladolid', 'At. Madrid', 'Valencia', 'R. Sociedad', 'Espanyol', 'Celta', 'Alcorcón', 'Cádiz', 'Huesca', 'Las Palmas', 'Almería', 'Girona']

In [14]:
import pandas as pd
quiniela_df = pd.DataFrame(list(zip(local, visitor)), 
               columns =['LOCAL', 'VISITANTE']) 
quiniela_df

            LOCAL    VISITANTE
0         Levante       Alavés
1     Real Madrid      Sevilla
2         Osasuna   Valladolid
3           Eibar   At. Madrid
4        Mallorca     Valencia
5           Betis  R. Sociedad
6      Villarreal     Espanyol
7   Athletic Club        Celta
8           Elche     Alcorcón
9       Deportivo        Cádiz
10      R. Oviedo       Huesca
11         Racing   Las Palmas
12    Extremadura      Almería
13       Tenerife       Girona

### Check names with dictionary

In [15]:
import json

with open('../bbdd/teams_dict.json') as json_file:
    teams_dict = json.load(json_file)
    
with open('../bbdd/referees_dict.json') as json_file:
    referees_dict = json.load(json_file)

In [16]:
df = quiniela_df.copy()

In [23]:
df['LOCAL'] = [teams_dict[i] for i in df['LOCAL']]
df['VISITANTE'] = [teams_dict[i] for i in df['VISITANTE']]

Next piece of code is meant to use only if new team names are found

In [21]:
teams_dict.update({'R. Sociedad':'Real Sociedad'})

In [24]:
teams_dict

{'A.D. Alcorcón': 'Alcorcon',
 'Alaves': 'Alaves',
 'Albacete': 'Albacete',
 'Albacete Balomp.': 'Albacete',
 'Alcorcon': 'Alcorcon',
 'Algeciras C.F.': 'Algeciras C.F.',
 'Alicante C.F.': 'Alicante C.F.',
 'Almeria': 'Almeria',
 'At. de Madrid': 'Atletico Madrid',
 'At. de Madrid B': 'At. de Madrid B',
 'Athletic Club': 'Athletic Club',
 'Athletic Club B': 'Athletic Club B',
 'Atletico Madrid': 'Atletico Madrid',
 'Barcelona': 'Barcelona',
 'Barcelona At.': 'Barcelona B',
 'Barcelona B': 'Barcelona B',
 'Burgos C.F. II': 'Burgos C.F. II',
 'C. At. Osasuna': 'Osasuna',
 'C. y D. Leonesa': 'Cultural Leonesa',
 'C.D. Alavés': 'Alaves',
 'C.D. Alcoyano': 'C.D. Alcoyano',
 'C.D. Badajoz': 'C.D. Badajoz',
 'C.D. Castellón': 'C.D. Castellón',
 'C.D. Guadalajara': 'C.D. Guadalajara',
 'C.D. Leganés': 'Leganes',
 'C.D. Logroñés': 'C.D. Logroñés',
 'C.D. Lugo': 'Lugo',
 'C.D. Mirandés': 'Mirandes',
 'C.D. Numancia': 'Numancia',
 'C.D. Sabadell': 'C.D. Sabadell',
 'C.D. Tenerife': 'Tenerife',
 'C.D. Toledo': 'C.D. Toledo',
 'C.F. Extremadura': 'Extremadura',
 'C.F. Rayo Majadahonda': 'Rayo Majadahonda',
 'C.F. Reus Deportiu': 'Reus',
 'Cadiz': 'Cadiz',
 'Cádiz C.F.': 'Cadiz',
 'Celta Vigo': 'Celta Vigo',
 'Club Gimnàstic': 'Club Gimnàstic',
 'Club Granada 74': 'Club Granada 74',
 'Cordoba': 'Cordoba',
 'Córdoba C.F.': 'Córdoba C.F.',
 'Cultural Leonesa': 'Cultural Leonesa',
 'Deportivo La Coruna': 'Deportivo La Coruna',
 'Eibar': 'Eibar',
 'Elche': 'Elche',
 'Elche C.F.': 'Elche',
 'Espanyol': 'Espanyol',
 'Extremadura': 'Extremadura',
 'F.C. Barcelona': 'Barcelona',
 'F.C. Cartagena': 'F.C. Cartagena',
 'Fuenlabrada': 'Fuenlabrada',
 'Getafe': 'Getafe',
 'Getafe C.F.': 'Getafe',
 'Gimnastic': 'Gimnastic',
 'Girona': 'Girona',
 'Girona F.C.': 'Girona',
 'Granada C.F.': 'Granada CF',
 'Granada CF': 'Granada CF',
 'Hércules': 'Hércules',
 'Hércules C.F.': 'Hércules',
 'Huesca': 'Huesca',
 'Las Palmas': 'Las Palmas',
 'Leganes': 'Leganes',
 'Levante': 'Levante',
 'Levante U.D.': 'Levante',
 'Lorca Deport. CF': 'Lorca FC',
 'Lorca FC': 'Lorca FC',
 'Lugo': 'Lugo',
 'Malaga': 'Malaga',
 'Málaga C.F.': 'Malaga',
 'Málaga C.F. B': 'Málaga C.F. B',
 'Mallorca': 'Mallorca',
 'Mérida C.P.': 'Mérida C.P.',
 'Mirandes': 'Mirandes',
 'Numancia': 'Numancia',
 'Osasuna': 'Osasuna',
 'Oviedo': 'Oviedo',
 'Polidepor. Ejido': 'Polidepor. Ejido',
 'Ponferradina': 'Ponferradina',
 'Pontevedra C.F.': 'Pontevedra C.F.',
 'R.C. de Ferrol': 'R.C. de Ferrol',
 'R.C. Deportivo': 'Deportivo La Coruna',
 'R.C.D. Espanyol': 'Espanyol',
 'R.C.D. Mallorca': 'Mallorca',
 'R.C.R. de Huelva': 'R.C.R. de Huelva',
 'R.M. Castilla': 'R.M. Castilla',
 'Racing Santander': 'Racing Santander',
 'Rayo Majadahonda': 'Rayo Majadahonda',
 'Rayo Vallecano': 'Rayo Vallecano',
 'RC Celta de Vigo': 'Celta Vigo',
 'Real Betis': 'Real Betis',
 'Real Betis B. S.': 'Real Betis',
 'Real Jaén C.F.': 'Real Jaén C.F.',
 'Real Madrid': 'Real Madrid',
 'Real Madrid C.F.': 'Real Madrid',
 'Real Murcia C.F.': 'Real Murcia C.F.',
 'Real Oviedo C.F.': 'Oviedo',
 'Real Racing Club': 'Racing Santander',
 'Real S. de Gijón': 'Sporting Gijon',
 'Real Sociedad': 'Real Sociedad',
 'Real Unión Club': 'Real Unión Club',
 'Real Valladolid': 'Valladolid',
 'Real Zaragoza CD': 'Zaragoza',
 'Reus': 'Reus',
 'S.D. Compostela': 'S.D. Compostela',
 'S.D. Eibar': 'Eibar',
 'S.D. Huesca': 'Huesca',
 'SD Ponferradina': 'Ponferradina',
 'Sevilla': 'Sevilla',
 'Sevilla Atletico': 'Sevilla Atletico',
 'Sevilla Atlético': 'Sevilla Atletico',
 'Sevilla F.C.': 'Sevilla',
 'Sporting Gijon': 'Sporting Gijon',
 'Tenerife': 'Tenerife',
 'Terrassa F.C.': 'Terrassa F.C.',
 'U.D. Almería': 'Almeria',
 'U.D. Las Palmas': 'Las Palmas',
 'U.D. Salamanca': 'U.D. Salamanca',
 'U.D. Vecindario': 'U.D. Vecindario',
 'U.E. Llagostera': 'U.E. Llagostera',
 'U.E. Lleida': 'U.E. Lleida',
 'Ucam Murcia': 'Ucam Murcia',
 'UCAM Murcia C.F.': 'Ucam Murcia',
 'Universi. LPGCFC': 'Universi. LPGCFC',
 'Valencia': 'Valencia',
 'Valencia C.F.': 'Valencia',
 'Valladolid': 'Valladolid',
 'Villarreal': 'Villarreal',
 'Villarreal C.F.': 'Villarreal',
 'Villarreal CF B': 'Villarreal CF B',
 'Xerez C.D.': 'Xerez C.D.',
 'Zaragoza': 'Zaragoza',
 'Alavés': 'Alaves',
 'Leganés': 'Leganes',
 'Betis': 'Real Betis',
 'Cádiz': 'Cadiz',
 'Almería': 'Almeria',
 'Alcorcón': 'Alcorcon',
 'At. Madrid': 'Atletico Madrid',
 'Celta': 'Celta Vigo',
 'R. Zaragoza': 'Zaragoza',
 'Mirandés': 'Mirandes',
 'Granada': 'Granada CF',
 'R. Oviedo': 'Oviedo',
 'Racing': 'Racing Santander',
 'Málaga': 'Malaga',
 'Deportivo': 'Deportivo La Coruna',
 'R. Sociedad': 'Real Sociedad'}

In [25]:
with open('../bbdd/teams_dict.json', 'w') as outfile:
    json.dump(teams_dict, outfile)

Check next Quiniela

In [104]:
df.head(3)

        LOCAL VISITANTE
0    Mallorca   Sevilla
1  Villarreal    Getafe
2  Valladolid  Valencia

### GAME 15 (not 1X2)

In [ ]:
results = soup.find(class_='partidos pleno-15')
equipos = results.find_all('', class_='equipo', )
for equipo in equipos:
    print(equipo.text, end='\n')

### SCRAP NEXT AVAILABLE QUINIELA (AS.COM)

In [28]:
import requests
from bs4 import BeautifulSoup

URL = 'https://resultados.as.com/quiniela/'
page = requests.get(URL)
soup = BeautifulSoup(page.content, 'html.parser')

In [29]:
seccion = soup.find(class_='cont-quiniela')
equipos = seccion.find_all('', class_='nombre-equipo', )

In [30]:
quiniela = [equipo.text for equipo in equipos]

In [31]:
visitor = [equipo for i, equipo in enumerate(quiniela) if i % 2 == 1]
local = [equipo for i, equipo in enumerate(quiniela) if i % 2 == 0]

In [108]:
import pandas as pd
quiniela_df = pd.DataFrame(list(zip(local, visitor)), 
               columns =['LOCAL', 'VISITANTE']) 
quiniela_df

          LOCAL       VISITANTE
0      Mallorca         Sevilla
1    Villarreal          Getafe
2    Valladolid        Valencia
3       Leganés        Espanyol
4       Osasuna   Real Sociedad
5         Betis      At. Madrid
6       Levante           Celta
7   Real Madrid   Athletic Club
8    Las Palmas  Rayo Vallecano
9         Cádiz        Numancia
10      Almería    Ponferradina
11       Huesca     R. Zaragoza
12     Alcorcón     Fuenlabrada
13       Girona        Mirandés
14    Barcelona          Alavés

### Check names with dictionary

In [69]:
import json

with open('../bbdd/teams_dict.json') as json_file:
    teams_dict = json.load(json_file)
    
with open('../bbdd/referees_dict.json') as json_file:
    referees_dict = json.load(json_file)

In [70]:
df = quiniela_df.copy()

In [93]:
df['LOCAL'] = [teams_dict[i] for i in df['LOCAL']]
df['VISITANTE'] = [teams_dict[i] for i in df['VISITANTE']]

Next piece of code is meant to use only if new team names are found

In [92]:
#teams_dict.update({'Alavés':'Alaves'})

In [97]:
#teams_dict

In [ ]:
#with open('../bbdd/teams_dict.json', 'w') as outfile:
#    json.dump(teams_dict, outfile)

Check next Quiniela

In [104]:
df.head(3)

        LOCAL VISITANTE
0    Mallorca   Sevilla
1  Villarreal    Getafe
2  Valladolid  Valencia

### Function to add features to current Quiniela

In [98]:
# last n games of home or away team

def last_games(df, league, team, date, season, ngames):
    select = df[(df['LIGA']==league) & ((df['LOCAL']==team) | (df['VISITANTE']==team)) & 
            (df['FECHA'] < date) & (df['TEMPORADA']==season)][:ngames]
    games = select.shape[0] + 1/2
    WINS = (sum(select['QUINIELA'][select.LOCAL==team]=='1') + sum(select['QUINIELA'][select.VISITANTE==team]=='2') + 1/6)/games
    DRAW = (sum(select['QUINIELA']=='X') + 1/6)/games
    LOSE = (1 - WINS - DRAW)
    return(WINS, DRAW, LOSE)

In [99]:
# total league. local as a local

def league_local_local(df, league, home_team, date, season):
    select = df[(df['LIGA']==league) & ((df['LOCAL']==home_team)) & 
            (df['FECHA'] < date) & (df['TEMPORADA']==season)]
    games = select.shape[0] + 1/2
    H_WINS = (sum(select['QUINIELA'][select.LOCAL==home_team]=='1') + 1/6)/games
    H_DRAW = (sum(select['QUINIELA']=='X') + 1/6)/games
    H_LOSE = (1 - H_WINS - H_DRAW)
    return(H_WINS, H_DRAW, H_LOSE)

In [100]:
# total league. local as a local

def league_local_local(df, league, home_team, date, season):
    select = df[(df['LIGA']==league) & ((df['LOCAL']==home_team)) & 
            (df['FECHA'] < date) & (df['TEMPORADA']==season)]
    games = select.shape[0] + 1/2
    H_WINS = (sum(select['QUINIELA'][select.LOCAL==home_team]=='1') + 1/6)/games
    H_DRAW = (sum(select['QUINIELA']=='X') + 1/6)/games
    H_LOSE = (1 - H_WINS - H_DRAW)
    return(H_WINS, H_DRAW, H_LOSE)

In [101]:
# total league. visitor as a visitor

def league_visitor_visitor(df, league, away_team, date, season):
    select = df[(df['LIGA']==league) & ((df['VISITANTE']==away_team)) & 
            (df['FECHA'] < date) & (df['TEMPORADA']==season)]
    games = select.shape[0] + 1/2
    V_WINS = (sum(select['QUINIELA'][select.VISITANTE==away_team]=='2') + 1/6)/games
    V_DRAW = (sum(select['QUINIELA']=='X') + 1/6)/games
    V_LOSE = (1 - V_WINS - V_DRAW)
    return(V_WINS, V_DRAW, V_LOSE)

In [102]:
# h2h last 10 games total

def h2h_10_hda(df, date, home_team, away_team):
    select = df[(df['FECHA'] < date) & (((df['LOCAL']==home_team) & (df['VISITANTE']==away_team)) |  
            ((df['LOCAL']==away_team) & (df['VISITANTE']==home_team)))][:10]
    games = select.shape[0] + 1/2
    HOME = (sum(select['QUINIELA'][select.LOCAL==home_team]=='1') + 
            sum(select['QUINIELA'][select.VISITANTE==home_team]=='2') + 1/6)/games
    DRAW = (sum(select['QUINIELA']=='X') + 1/6)/games
    AWAY = (1 - HOME - DRAW)
    return(HOME, DRAW, AWAY)

In [103]:
# h2h last 5 games with same home and away

def h2h_5_homeaway(df, date, home_team, away_team):
    select = df[(df['FECHA'] < date) & (df['LOCAL']==home_team) & (df['VISITANTE']==away_team)][:5]
    games = select.shape[0] + 1/2
    HOME = (sum(select['QUINIELA'][select.LOCAL==home_team]=='1') + 1/6)/games
    DRAW = (sum(select['QUINIELA'][select.LOCAL==home_team]=='X') + 1/6)/games
    AWAY = (1 - HOME - DRAW)
    return(HOME, DRAW, AWAY)

### Add features to Quiniela

In [105]:
import pandas as pd

xl = pd.ExcelFile('../bbdd/FULL_BBDD_only_results.xlsx')
historic = xl.parse(xl.sheet_names[0])

In [121]:
select_1 = list(historic[(historic['TEMPORADA']==2019) & (historic['LIGA']==1)].LOCAL.unique())
select_2 = list(historic[(historic['TEMPORADA']==2019) & (historic['LIGA']==2)].LOCAL.unique())
teams_1 = { i : 1 for i in select_1 }
teams_2 = { i : 2 for i in select_2 }
teams_league_dict = {**teams_1, **teams_2}

In [144]:
from datetime import datetime

df['LIGA'] = [teams_league_dict[i] for i in df['LOCAL']]
df['TEMPORADA'] = 2019
df['JORNADA'] = 'X'
df['FECHA'] = datetime.today().strftime('%Y-%m-%d')
df = df[['TEMPORADA', 'LIGA', 'JORNADA', 'FECHA', 'LOCAL', 'VISITANTE']]
df.head(2)

C:\Users\Albert\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\Albert\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
C:\Users\Albert\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
C:\Users\Albert\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

   TEMPORADA  LIGA JORNADA       FECHA       LOCAL VISITANTE
0       2019     1       X  2019-12-22    Mallorca   Sevilla
1       2019     1       X  2019-12-22  Villarreal    Getafe

In [145]:
df['last2_hometeam_wdl'] = df.apply(lambda x: last_games(historic, x[1], x[4], x[3], x[0], 2), axis=1)
df['last5_hometeam_wdl'] = df.apply(lambda x: last_games(historic, x[1], x[4], x[3], x[0], 5), axis=1)
df['last10_hometeam_wdl'] = df.apply(lambda x: last_games(historic, x[1], x[4], x[3], x[0], 10), axis=1)

In [146]:
df['last2_awayteam_wdl'] = df.apply(lambda x: last_games(historic, x[1], x[5], x[3], x[0], 2), axis=1)
df['last5_awayteam_wdl'] = df.apply(lambda x: last_games(historic, x[1], x[5], x[3], x[0], 5), axis=1)
df['last10_awayteam_wdl'] = df.apply(lambda x: last_games(historic, x[1], x[5], x[3], x[0], 10), axis=1)

In [147]:
df['league_local_local_wdl'] = df.apply(lambda x: league_local_local(historic, x[1], x[4], x[3], x[0]), axis=1)
df['league_visitor_visitor_wdl'] = df.apply(lambda x: league_visitor_visitor(historic, x[1], x[5], x[3], x[0]), axis=1)

In [148]:
df['h2h_last_10_hda'] = df.apply(lambda x: h2h_10_hda(historic, x[3], x[4], x[5]), axis=1)
df['h2h_5_homeaway_hda'] = df.apply(lambda x: h2h_5_homeaway(historic, x[3], x[4], x[5]), axis=1)

### Split tuples and delete columns

In [155]:
columns = list(df.columns[[x[-3:] in ['wdl','hda'] for x in df.columns]])

In [156]:
for i in columns:
    field_type = i[-3:]
    name1 = i[:-3] + field_type[0]
    name2 = i[:-3] + field_type[1]
    name3 = i[:-3] + field_type[2]
    
    df[name1] = df[i].apply(lambda x: x[0])
    df[name2] = df[i].apply(lambda x: x[1])
    df[name3] = df[i].apply(lambda x: x[2])

In [157]:
df.drop(columns, inplace=True, axis=1)

In [158]:
df.columns

Index(['TEMPORADA', 'LIGA', 'JORNADA', 'FECHA', 'LOCAL', 'VISITANTE',
       'last2_hometeam_w', 'last2_hometeam_d', 'last2_hometeam_l',
       'last5_hometeam_w', 'last5_hometeam_d', 'last5_hometeam_l',
       'last10_hometeam_w', 'last10_hometeam_d', 'last10_hometeam_l',
       'last2_awayteam_w', 'last2_awayteam_d', 'last2_awayteam_l',
       'last5_awayteam_w', 'last5_awayteam_d', 'last5_awayteam_l',
       'last10_awayteam_w', 'last10_awayteam_d', 'last10_awayteam_l',
       'league_local_local_w', 'league_local_local_d', 'league_local_local_l',
       'league_visitor_visitor_w', 'league_visitor_visitor_d',
       'league_visitor_visitor_l', 'h2h_last_10_h', 'h2h_last_10_d',
       'h2h_last_10_a', 'h2h_5_homeaway_h', 'h2h_5_homeaway_d',
       'h2h_5_homeaway_a'],
      dtype='object')