In [42]:
import os
os.getcwd()

'C:\\Users\\T420\\Desktop\\UBIQUM\\5 PROJECT\\Quiniela\\notebooks'

In [43]:
import pandas as pd

xl = pd.ExcelFile('../bbdd/FULL_BBDD_CLEAN.xlsx')
df = xl.parse(xl.sheet_names[0])
df.head()

,TEMPORADA,LIGA,JORNADA,FECHA,LOCAL,VISITANTE,GOL L,GOL V,ARBITRO,QUINIELA
0,1999,1,1,1999-08-21,Mallorca,Real Madrid,1,2,LOSANTOS OMAR,2
1,1999,1,1,1999-08-21,Athletic Club,Real Betis,1,0,MEJUTO GONZALEZ,1
2,1999,2,1,1999-08-21,Leganes,Mérida C.P.,1,1,NAVAS LASA,X
3,1999,1,1,1999-08-21,Valencia,Racing Santander,1,2,PRADOS GARCIA,2
4,1999,2,1,1999-08-21,U.E. Lleida,Villarreal,2,2,RUBIO INIESTA,X

In [44]:
df.shape

(16840, 10)

### Additional Features for all the games
Funciones

In [45]:
df.head()

,TEMPORADA,LIGA,JORNADA,FECHA,LOCAL,VISITANTE,GOL L,GOL V,ARBITRO,QUINIELA
0,1999,1,1,1999-08-21,Mallorca,Real Madrid,1,2,LOSANTOS OMAR,2
1,1999,1,1,1999-08-21,Athletic Club,Real Betis,1,0,MEJUTO GONZALEZ,1
2,1999,2,1,1999-08-21,Leganes,Mérida C.P.,1,1,NAVAS LASA,X
3,1999,1,1,1999-08-21,Valencia,Racing Santander,1,2,PRADOS GARCIA,2
4,1999,2,1,1999-08-21,U.E. Lleida,Villarreal,2,2,RUBIO INIESTA,X

In [46]:
# last n games of home or away team

def last_games(league, team, date, season, ngames):
    select = df[(df['LIGA']==league) & ((df['LOCAL']==team) | (df['VISITANTE']==team)) & 
            (df['FECHA'] < date) & (df['TEMPORADA']==season)][:ngames]
    games = select.shape[0] + 1/2
    WINS = (sum(select['QUINIELA'][select.LOCAL==team]=='1') + sum(select['QUINIELA'][select.VISITANTE==team]=='2') + 1/6)/games
    DRAW = (sum(select['QUINIELA']=='X') + 1/6)/games
    LOSE = (1 - WINS - DRAW)
    return(WINS, DRAW, LOSE)

In [126]:
# total league. local as a local

def league_local_local(league, home_team, date, season):
    select = df[(df['LIGA']==league) & ((df['LOCAL']==home_team)) & 
            (df['FECHA'] < date) & (df['TEMPORADA']==season)]
    games = select.shape[0] + 1/2
    H_WINS = (sum(select['QUINIELA'][select.LOCAL==home_team]=='1') + 1/6)/games
    H_DRAW = (sum(select['QUINIELA']=='X') + 1/6)/games
    H_LOSE = (1 - H_WINS - H_DRAW)
    return(H_WINS, H_DRAW, H_LOSE)

In [124]:
# total league. visitor as a visitor

def league_visitor_visitor(league, away_team, date, season):
    select = df[(df['LIGA']==league) & ((df['VISITANTE']==away_team)) & 
            (df['FECHA'] < date) & (df['TEMPORADA']==season)]
    games = select.shape[0] + 1/2
    V_WINS = (sum(select['QUINIELA'][select.VISITANTE==away_team]=='2') + 1/6)/games
    V_DRAW = (sum(select['QUINIELA']=='X') + 1/6)/games
    V_LOSE = (1 - V_WINS - V_DRAW)
    return(V_WINS, V_DRAW, V_LOSE)

In [69]:
# h2h last 10 games total

def h2h_10_hda(date, home_team, away_team):
    select = df[(df['FECHA'] < date) & (((df['LOCAL']==home_team) & (df['VISITANTE']==away_team)) |  
            ((df['LOCAL']==away_team) & (df['VISITANTE']==home_team)))][:10]
    games = select.shape[0] + 1/2
    HOME = (sum(select['QUINIELA'][select.LOCAL==home_team]=='1') + 
            sum(select['QUINIELA'][select.VISITANTE==home_team]=='2') + 1/6)/games
    DRAW = (sum(select['QUINIELA']=='X') + 1/6)/games
    AWAY = (1 - HOME - DRAW)
    return(HOME, DRAW, AWAY)

In [72]:
# h2h last 5 games with same home and away

def h2h_5_homeaway(date, home_team, away_team):
    select = df[(df['FECHA'] < date) & (df['LOCAL']==home_team) & (df['VISITANTE']==away_team)][:5]
    games = select.shape[0] + 1/2
    HOME = (sum(select['QUINIELA'][select.LOCAL==home_team]=='1') + 1/6)/games
    DRAW = (sum(select['QUINIELA'][select.LOCAL==home_team]=='X') + 1/6)/games
    AWAY = (1 - HOME - DRAW)
    return(HOME, DRAW, AWAY)

In [112]:
# referee: historical results

def ref_team(date, team, referee):
    select = df[(df['FECHA'] < date) & ((df['LOCAL']==team) | (df['VISITANTE']==team)) & (df['ARBITRO']==referee)]
    games = select.shape[0] + 1/2
    WINS = (sum(select['QUINIELA'][select.LOCAL==team]=='1') + 
            sum(select['QUINIELA'][select.VISITANTE==team]=='2') + 1/6)/games
    DRAW = (sum(select['QUINIELA']=='X') + 1/6)/games
    LOSE = (1 - WINS - DRAW)
    return(WINS, DRAW, LOSE)

In [100]:
# referee: historical results with home team at home

def ref_home_home(date, home_team, referee):
    select = df[(df['FECHA'] < date) & (df['LOCAL']==home_team) & (df['ARBITRO']==referee)]
    games = select.shape[0] + 1/2
    WINS = (sum(select['QUINIELA'][select.LOCAL==home_team]=='1') + 
            sum(select['QUINIELA'][select.VISITANTE==home_team]=='2') + 1/6)/games
    DRAW = (sum(select['QUINIELA']=='X') + 1/6)/games
    LOSE = (1 - WINS - DRAW)
    return(WINS, DRAW, LOSE)

In [101]:
# referee: historical results with away team playing away

def ref_away_away(date, away_team, referee): 
    select = df[(df['FECHA'] < date) & (df['VISITANTE']==away_team) & (df['ARBITRO']==referee)]
    games = select.shape[0] + 1/2
    WINS = (sum(select['QUINIELA'][select.LOCAL==away_team]=='1') + 
            sum(select['QUINIELA'][select.VISITANTE==away_team]=='2') + 1/6)/games
    DRAW = (sum(select['QUINIELA']=='X') + 1/6)/games
    LOSE = (1 - WINS - DRAW)
    return(WINS, DRAW, LOSE)

Apply function to create all the features from functions

In [51]:
df['last2_hometeam_wdl'] = df.apply(lambda x: last_games(x[1], x[4], x[3], x[0], 2), axis=1)
df['last5_hometeam_wdl'] = df.apply(lambda x: last_games(x[1], x[4], x[3], x[0], 5), axis=1)
df['last10_hometeam_wdl'] = df.apply(lambda x: last_games(x[1], x[4], x[3], x[0], 10), axis=1)

In [57]:
df['last2_awayteam_wdl'] = df.apply(lambda x: last_games(x[1], x[5], x[3], x[0], 2), axis=1)
df['last5_awayteam_wdl'] = df.apply(lambda x: last_games(x[1], x[5], x[3], x[0], 5), axis=1)
df['last10_awayteam_wdl'] = df.apply(lambda x: last_games(x[1], x[5], x[3], x[0], 10), axis=1)

In [130]:
df['league_local_local_wdl'] = df.apply(lambda x: league_local_local(x[1], x[4], x[3], x[0]), axis=1)
df['league_visitor_visitor_wdl'] = df.apply(lambda x: league_visitor_visitor(x[1], x[5], x[3], x[0]), axis=1)

In [73]:
df['h2h_last_10_hda'] = df.apply(lambda x: h2h_10_hda(x[3], x[4], x[5]), axis=1)
df['h2h_5_homeaway_hda'] = df.apply(lambda x: h2h_5_homeaway(x[3], x[4], x[5]), axis=1)

In [115]:
df['ref_hometeam_wdl'] = df.apply(lambda x: ref_team(x[3], x[4], x[8]), axis=1)
df['ref_awayteam_wdl'] = df.apply(lambda x: ref_team(x[3], x[5], x[8]), axis=1)

In [102]:
df['ref_home_home_wdl'] = df.apply(lambda x: ref_home_home(df, x[3], x[4], x[8]), axis=1)
df['ref_away_away_wdl'] = df.apply(lambda x: ref_away_away(df, x[3], x[5], x[8]), axis=1)