### SCRAP NEXT AVAILABLE QUINIELA (AS.COM)

In [1]:
import requests
from bs4 import BeautifulSoup

URL = 'https://resultados.as.com/quiniela/'
page = requests.get(URL)
soup = BeautifulSoup(page.content, 'html.parser')

In [2]:
seccion = soup.find(class_='cont-quiniela')
equipos = seccion.find_all('', class_='nombre-equipo', )

In [3]:
quiniela = [equipo.text for equipo in equipos]

In [4]:
visitor = [equipo for i, equipo in enumerate(quiniela) if i % 2 == 1]
local = [equipo for i, equipo in enumerate(quiniela) if i % 2 == 0]

In [5]:
import pandas as pd
quiniela_df = pd.DataFrame(list(zip(local, visitor)), 
               columns =['LOCAL', 'VISITANTE']) 
quiniela_df.head(2)

        LOCAL VISITANTE
0    Mallorca   Sevilla
1  Villarreal    Getafe

### Check names with dictionary

In [6]:
import json

with open('../bbdd/teams_dict.json') as json_file:
    teams_dict = json.load(json_file)
    
with open('../bbdd/referees_dict.json') as json_file:
    referees_dict = json.load(json_file)

In [7]:
df = quiniela_df.copy()

In [8]:
df['LOCAL'] = [teams_dict[i] for i in df['LOCAL']]
df['VISITANTE'] = [teams_dict[i] for i in df['VISITANTE']]

Next piece of code is meant to use only if new team names are found

In [9]:
#teams_dict.update({'Mirand√©s':'Mirandes'})

In [10]:
#teams_dict['Betis']

In [11]:
#with open('../bbdd/teams_dict.json', 'w') as outfile:
#    json.dump(teams_dict, outfile)

Check next Quiniela

In [12]:
df.head(3)

        LOCAL VISITANTE
0    Mallorca   Sevilla
1  Villarreal    Getafe
2  Valladolid  Valencia

In [13]:
df.to_excel('../bbdd/QUINIELA_1_CURRENT.xlsx', index=False)