### SCRAP NEXT AVAILABLE QUINIELA (LOTERIAS Y APUESTAS)

In [1]:
import requests
URL = 'https://juegos.loteriasyapuestas.es/jugar/la-quiniela/apuesta/'
page = requests.get(URL)

In [2]:
from bs4 import BeautifulSoup
soup = BeautifulSoup(page.content, 'html.parser')

In [3]:
results = soup.find(class_='boleto-partidos')
equipos = results.find_all('', class_='nombre', )

AttributeError: 'NoneType' object has no attribute 'find_all'

In [33]:
type(results)

bs4.element.Tag

In [ ]:
quiniela = [equipo.text for equipo in equipos]

In [ ]:
visitor = [equipo for i, equipo in enumerate(quiniela) if i % 2 == 1]
local = [equipo for i, equipo in enumerate(quiniela) if i % 2 == 0]
print(local, visitor)

In [ ]:
import pandas as pd
quiniela_df = pd.DataFrame(list(zip(local, visitor)), 
               columns =['LOCAL', 'VISITANTE']) 
quiniela_df

### GAME 15 (not 1X2)

In [ ]:
results = soup.find(class_='partidos pleno-15')
equipos = results.find_all('', class_='equipo', )
for equipo in equipos:
    print(equipo.text, end='\n')

### SCRAP NEXT AVAILABLE QUINIELA (AS.COM)

In [28]:
import requests
from bs4 import BeautifulSoup

URL = 'https://resultados.as.com/quiniela/'
page = requests.get(URL)
soup = BeautifulSoup(page.content, 'html.parser')

In [29]:
seccion = soup.find(class_='cont-quiniela')
equipos = seccion.find_all('', class_='nombre-equipo', )

In [30]:
quiniela = [equipo.text for equipo in equipos]

In [31]:
visitor = [equipo for i, equipo in enumerate(quiniela) if i % 2 == 1]
local = [equipo for i, equipo in enumerate(quiniela) if i % 2 == 0]

In [108]:
import pandas as pd
quiniela_df = pd.DataFrame(list(zip(local, visitor)), 
               columns =['LOCAL', 'VISITANTE']) 
quiniela_df

          LOCAL       VISITANTE
0      Mallorca         Sevilla
1    Villarreal          Getafe
2    Valladolid        Valencia
3       Leganés        Espanyol
4       Osasuna   Real Sociedad
5         Betis      At. Madrid
6       Levante           Celta
7   Real Madrid   Athletic Club
8    Las Palmas  Rayo Vallecano
9         Cádiz        Numancia
10      Almería    Ponferradina
11       Huesca     R. Zaragoza
12     Alcorcón     Fuenlabrada
13       Girona        Mirandés
14    Barcelona          Alavés

### Check names with dictionary

In [69]:
import json

with open('../bbdd/teams_dict.json') as json_file:
    teams_dict = json.load(json_file)
    
with open('../bbdd/referees_dict.json') as json_file:
    referees_dict = json.load(json_file)

In [70]:
df = quiniela_df.copy()

In [93]:
df['LOCAL'] = [teams_dict[i] for i in df['LOCAL']]
df['VISITANTE'] = [teams_dict[i] for i in df['VISITANTE']]

Next piece of code is meant to use only if new team names are found

In [92]:
#teams_dict.update({'Alavés':'Alaves'})

In [97]:
#teams_dict

In [ ]:
#with open('../bbdd/teams_dict.json', 'w') as outfile:
#    json.dump(teams_dict, outfile)

Check next Quiniela

In [104]:
df.head(3)

        LOCAL VISITANTE
0    Mallorca   Sevilla
1  Villarreal    Getafe
2  Valladolid  Valencia

### Function to add features to current Quiniela

In [98]:
# last n games of home or away team

def last_games(df, league, team, date, season, ngames):
    select = df[(df['LIGA']==league) & ((df['LOCAL']==team) | (df['VISITANTE']==team)) & 
            (df['FECHA'] < date) & (df['TEMPORADA']==season)][:ngames]
    games = select.shape[0] + 1/2
    WINS = (sum(select['QUINIELA'][select.LOCAL==team]=='1') + sum(select['QUINIELA'][select.VISITANTE==team]=='2') + 1/6)/games
    DRAW = (sum(select['QUINIELA']=='X') + 1/6)/games
    LOSE = (1 - WINS - DRAW)
    return(WINS, DRAW, LOSE)

In [99]:
# total league. local as a local

def league_local_local(df, league, home_team, date, season):
    select = df[(df['LIGA']==league) & ((df['LOCAL']==home_team)) & 
            (df['FECHA'] < date) & (df['TEMPORADA']==season)]
    games = select.shape[0] + 1/2
    H_WINS = (sum(select['QUINIELA'][select.LOCAL==home_team]=='1') + 1/6)/games
    H_DRAW = (sum(select['QUINIELA']=='X') + 1/6)/games
    H_LOSE = (1 - H_WINS - H_DRAW)
    return(H_WINS, H_DRAW, H_LOSE)

In [100]:
# total league. local as a local

def league_local_local(df, league, home_team, date, season):
    select = df[(df['LIGA']==league) & ((df['LOCAL']==home_team)) & 
            (df['FECHA'] < date) & (df['TEMPORADA']==season)]
    games = select.shape[0] + 1/2
    H_WINS = (sum(select['QUINIELA'][select.LOCAL==home_team]=='1') + 1/6)/games
    H_DRAW = (sum(select['QUINIELA']=='X') + 1/6)/games
    H_LOSE = (1 - H_WINS - H_DRAW)
    return(H_WINS, H_DRAW, H_LOSE)

In [101]:
# total league. visitor as a visitor

def league_visitor_visitor(df, league, away_team, date, season):
    select = df[(df['LIGA']==league) & ((df['VISITANTE']==away_team)) & 
            (df['FECHA'] < date) & (df['TEMPORADA']==season)]
    games = select.shape[0] + 1/2
    V_WINS = (sum(select['QUINIELA'][select.VISITANTE==away_team]=='2') + 1/6)/games
    V_DRAW = (sum(select['QUINIELA']=='X') + 1/6)/games
    V_LOSE = (1 - V_WINS - V_DRAW)
    return(V_WINS, V_DRAW, V_LOSE)

In [102]:
# h2h last 10 games total

def h2h_10_hda(df, date, home_team, away_team):
    select = df[(df['FECHA'] < date) & (((df['LOCAL']==home_team) & (df['VISITANTE']==away_team)) |  
            ((df['LOCAL']==away_team) & (df['VISITANTE']==home_team)))][:10]
    games = select.shape[0] + 1/2
    HOME = (sum(select['QUINIELA'][select.LOCAL==home_team]=='1') + 
            sum(select['QUINIELA'][select.VISITANTE==home_team]=='2') + 1/6)/games
    DRAW = (sum(select['QUINIELA']=='X') + 1/6)/games
    AWAY = (1 - HOME - DRAW)
    return(HOME, DRAW, AWAY)

In [103]:
# h2h last 5 games with same home and away

def h2h_5_homeaway(df, date, home_team, away_team):
    select = df[(df['FECHA'] < date) & (df['LOCAL']==home_team) & (df['VISITANTE']==away_team)][:5]
    games = select.shape[0] + 1/2
    HOME = (sum(select['QUINIELA'][select.LOCAL==home_team]=='1') + 1/6)/games
    DRAW = (sum(select['QUINIELA'][select.LOCAL==home_team]=='X') + 1/6)/games
    AWAY = (1 - HOME - DRAW)
    return(HOME, DRAW, AWAY)

### Add features to Quiniela

In [105]:
import pandas as pd

xl = pd.ExcelFile('../bbdd/FULL_BBDD_only_results.xlsx')
historic = xl.parse(xl.sheet_names[0])

In [121]:
select_1 = list(historic[(historic['TEMPORADA']==2019) & (historic['LIGA']==1)].LOCAL.unique())
select_2 = list(historic[(historic['TEMPORADA']==2019) & (historic['LIGA']==2)].LOCAL.unique())
teams_1 = { i : 1 for i in select_1 }
teams_2 = { i : 2 for i in select_2 }
teams_league_dict = {**teams_1, **teams_2}

In [144]:
from datetime import datetime

df['LIGA'] = [teams_league_dict[i] for i in df['LOCAL']]
df['TEMPORADA'] = 2019
df['JORNADA'] = 'X'
df['FECHA'] = datetime.today().strftime('%Y-%m-%d')
df = df[['TEMPORADA', 'LIGA', 'JORNADA', 'FECHA', 'LOCAL', 'VISITANTE']]
df.head(2)

C:\Users\Albert\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\Albert\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
C:\Users\Albert\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
C:\Users\Albert\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

   TEMPORADA  LIGA JORNADA       FECHA       LOCAL VISITANTE
0       2019     1       X  2019-12-22    Mallorca   Sevilla
1       2019     1       X  2019-12-22  Villarreal    Getafe

In [145]:
df['last2_hometeam_wdl'] = df.apply(lambda x: last_games(historic, x[1], x[4], x[3], x[0], 2), axis=1)
df['last5_hometeam_wdl'] = df.apply(lambda x: last_games(historic, x[1], x[4], x[3], x[0], 5), axis=1)
df['last10_hometeam_wdl'] = df.apply(lambda x: last_games(historic, x[1], x[4], x[3], x[0], 10), axis=1)

In [146]:
df['last2_awayteam_wdl'] = df.apply(lambda x: last_games(historic, x[1], x[5], x[3], x[0], 2), axis=1)
df['last5_awayteam_wdl'] = df.apply(lambda x: last_games(historic, x[1], x[5], x[3], x[0], 5), axis=1)
df['last10_awayteam_wdl'] = df.apply(lambda x: last_games(historic, x[1], x[5], x[3], x[0], 10), axis=1)

In [147]:
df['league_local_local_wdl'] = df.apply(lambda x: league_local_local(historic, x[1], x[4], x[3], x[0]), axis=1)
df['league_visitor_visitor_wdl'] = df.apply(lambda x: league_visitor_visitor(historic, x[1], x[5], x[3], x[0]), axis=1)

In [148]:
df['h2h_last_10_hda'] = df.apply(lambda x: h2h_10_hda(historic, x[3], x[4], x[5]), axis=1)
df['h2h_5_homeaway_hda'] = df.apply(lambda x: h2h_5_homeaway(historic, x[3], x[4], x[5]), axis=1)

### Split tuples and delete columns

In [155]:
columns = list(df.columns[[x[-3:] in ['wdl','hda'] for x in df.columns]])

In [156]:
for i in columns:
    field_type = i[-3:]
    name1 = i[:-3] + field_type[0]
    name2 = i[:-3] + field_type[1]
    name3 = i[:-3] + field_type[2]
    
    df[name1] = df[i].apply(lambda x: x[0])
    df[name2] = df[i].apply(lambda x: x[1])
    df[name3] = df[i].apply(lambda x: x[2])

In [157]:
df.drop(columns, inplace=True, axis=1)

In [158]:
df.columns

Index(['TEMPORADA', 'LIGA', 'JORNADA', 'FECHA', 'LOCAL', 'VISITANTE',
       'last2_hometeam_w', 'last2_hometeam_d', 'last2_hometeam_l',
       'last5_hometeam_w', 'last5_hometeam_d', 'last5_hometeam_l',
       'last10_hometeam_w', 'last10_hometeam_d', 'last10_hometeam_l',
       'last2_awayteam_w', 'last2_awayteam_d', 'last2_awayteam_l',
       'last5_awayteam_w', 'last5_awayteam_d', 'last5_awayteam_l',
       'last10_awayteam_w', 'last10_awayteam_d', 'last10_awayteam_l',
       'league_local_local_w', 'league_local_local_d', 'league_local_local_l',
       'league_visitor_visitor_w', 'league_visitor_visitor_d',
       'league_visitor_visitor_l', 'h2h_last_10_h', 'h2h_last_10_d',
       'h2h_last_10_a', 'h2h_5_homeaway_h', 'h2h_5_homeaway_d',
       'h2h_5_homeaway_a'],
      dtype='object')